# Local binaries.
/bin/

# Libraries.
/lib/

# Data files.
/var/

# Python files.
*.pyc
*.pyo
*.egg-info

# Compiled gettext catalogs.
*.mo

# Editors' temporary buffers.
.*.swp
*~

# Buildout files.
.mr.developer.cfg