# Buildout configuration file to deploy a development environment.

[buildout]
show-picked-versions = true
versions = versions
# Configure directories: put buildout generated files in lib/buildout instead
# of in current directory.
bin-directory = bin
develop-eggs-directory = lib/buildout/develop-eggs
eggs-directory = lib/buildout/eggs
installed = lib/buildout/.installed.cfg
parts-directory = lib/buildout/parts
# Package index, mirrors, allowed hosts and dependency links. Those options
# control locations where buildout looks for packages.
index = https://simple.crate.io
find-links =
allow-hosts =
    *.crate.io
    packages.crate-cdn.com
use-dependency-links = false
# Development.
develop =
    ${buildout:directory}/
parts =
    scripts
    directories
    releaser
    activate
    omelette


# Main Python environment.
[scripts]
recipe = zc.recipe.egg
eggs =
    django-plainpasswordhasher
    bpython
    flake8
dependent-scripts = true
scripts =
    bpython
    flake8
interpreter = python


# Make sure some directories exist.
[directories]
recipe = z3c.recipe.mkdir
paths =
    var/test

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


# Activate script (virtualenv style).
[activate]
recipe = evg.recipe.activate


[omelette]
recipe = collective.recipe.omelette
location = ${buildout:directory}/lib/omelette
eggs =
    ${scripts:eggs}


# Environment-level known good set (KGS) of versions.
# This is the list of versions that have been proven OK to get a working
# **environment**.
# If you want application-level version pinning (your app requires API of
# other app at version x.y), then use Python packaging, a.k.a. setup.py.
[versions]
bpython = 0.12
collective.recipe.omelette = 0.16
Django = 1.5.4
evg.recipe.activate = 0.5
flake8 = 2.0
mccabe = 0.2.1
pep8 = 1.4.6
pyflakes = 0.7.3
Pygments = 1.6
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.1
zest.releaser = 3.47
